<div class="col-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">Examples:</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link<% if ( page === "index") { %> active<% } %>" href="/">Home</span></a>
        <a class="nav-item nav-link<% if ( page === "ejs") { %> active<% } %>" href="/ejs">EJS</a>
      </div>
    </div>
  </nav>
</div>