<!DOCTYPE html>
<html>
<head>
<title>Hello World!</title>
<meta name="author" content="Anthony Whetherhult">
<meta name="Description" content="Testing a node.js app with routing via express.">

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>

<div class="row no-gutters">
 <%- include('partials/menu.html', {page:'index'}) %>
</div>
<div class="col-12">
  <h1>Hello From Node.js, Tico!</h1>
</div>
<div class="row no-gutters">
   <%- include('partials/footer.html') %>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>