<!DOCTYPE html>
<html>
<head>
<title>Hello World!</title>
<meta name="author" content="Anthony Whetherhult">
<meta name="Description" content="Test to connect with an internal API and get the local weather.">

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>

<div class="row no-gutters">
 <%- include('partials/menu.html', {page:'weather'}) %>
</div>
<div class="col-12">
  <h1>Your local weather!</h1>
  <p>
    <form class="form-inline" onsubmit="event.preventDefault(); return calcWeather();"">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label for="zip" class="sr-only">Zip Code:</label>
	  <input type="number" class="form-control mb-2" id="zip" placeholder="<% if ( !!zip_code ) { %><% } else { %>Zip Code<% } %>">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Get Weather!</button>
      </div>
    </form>
  </p>
  <div id="result" style="display:none">
    <div class="col-xs-12">
      <h3>Forecast for <span id="zip_code"></span>:</h3>
    </div>
    <div class="col-xs-12" id="forecast">
      <div class="col-md-6 col-sm-6 col-xs-12">

      </div>
    </div>
  </div>
    <script type="text/javascript">
      function calcWeather() {
        var url = '/api/weather/zip/' + $("#zip").val();
        $.ajax({
          url: url,
          method: 'GET'
        }).then(function(data) {
          var weather;
          try {
            weather = JSON.parse(data);
          } catch (error) {
            weather = {error:"The weather was not found for your zip code."};
          }
          if (weather.error) {
            $('#result').html(weather.error);
          } else {
            var forecast = {};
            var len = (weather.list.length <= 5 ? weather.list.length : 5);
            for (var i = 0; i < len; i++) { 
              var day = weather.list[i];
              forecast[i] = {
                min : day.main.temp_min,
                max : day.main.temp_max,
                clouds : day.weather[0].description
              };
            }
            $('#forecast').html(JSON.stringify(forecast));
            $("#result").show();
          }
        });
        return false;
      }
    </script>
</div>
<%- include('partials/footer.html') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>

